# Data Science Tools and Ecosystem

## Author
Tabita Alina Popan

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ Mention commonly used libraries by Data Scientists
+ Create a table that comprises common Data Science tools
+ Giving examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
|------------------|
|JupyterLab|
|Visual Studio Code|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335